.article {
    display: flex;
    margin: 1%;
    background-color: aqua;
    border-style: dashed;
}

.left {
    display: flex;
    margin: 1%;
    width: 50%;
    background-color: rgb(253, 44, 44);
    border-style: dashed;
    flex-direction: column;
}

.right {
    display: flex;
    margin: 1%;
    width: 50%;
    background-color: blueviolet;
    border-style: dashed;
    flex-direction: column;
}

.up {
 
    margin: 1%;
    height: 20%;
    background-color: cornsilk;
    border-style: dashed;
}

.down {

    margin: 1%;
    height: 75%;
    background-color: chartreuse;
    border-style: dashed;
}