.parent {
    display: flex;
    height: 100%;
    width: auto;
    background-color: DodgerBlue;
    flex-direction: row;
    align-items: center;
  }

.milieu {
    display: flex;
    flex-wrap: wrap;
    background-color: greenyellow;
    width: 70%;
    height: 500px;
    flex-direction: row;
    padding: 0.5%;
}

.bord {
    display: flex;
    width: 15%;
    background-color: blueviolet;
    flex-direction: row;
    justify-content: center;

}

.box {
    display: flex;
    background-color: cadetblue;
    min-width: 48%;
    margin: 1%;
    height: auto;
}