.parent {
    background-color: wheat;
    display: flex;
    height: 100vh;
    width: auto;
    flex-direction: row;
    align-items: center;
  }

.milieu {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(100, 149, 237, 1);
    width: 70%;
    height: 500px;
    flex-direction: row;
    padding: 0.5%;
}

.bord {
    display: flex;
    width: 15%;
    flex-direction: row;
    justify-content: center;
    min-height: 50%;
    align-items: center;
    margin: 1%;
}

.box {
    display: flex;
    background-color: rgba(240, 248, 255, 1);
    min-width: 48%;
    margin: 1%;
    height: auto;
}

.box1:hover {
    background-color: aquamarine;
}

.box2:hover {
    background-color:chocolate;
}

.box3:hover {
    background-color:deeppink;
}

.box4:hover {
    background-color:blueviolet;
}

.child {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0.7);
    height: 20%;
    margin: 1%;
    min-width: 98%;
    margin-left: auto;
    margin-bottom: 1%;
    color: floralwhite;
}

body {
    background-color: floralwhite;
}

.button {
    background-color: DodgerBlue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}

.button:hover{
    margin-left: 10px;
    margin-bottom: 15px;
    background-color: pink;
}

.panda {
    position: fixed;
    top: 50px;
    left: 50px;
    border: none;
    background-color: transparent;
    color: transparent;
}

.panda:hover {
    border: none;
    color: violet;
}